### Target
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_zn_m2=y

### Targer Image

### Admin
CONFIG_PACKAGE_htop=y
CONFIG_HTOP_LMSENSORS=y

### Base
CONFIG_PACKAGE_sqm-scripts-nss=y

### Extra packages
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_cpufreq=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_htop=y
### 无线
CONFIG_PACKAGE_wpad-openssl=y

### Kernel modules
CONFIG_PACKAGE_kmod-cryptodev=y
CONFIG_PACKAGE_kmod-qca-nss-crypto=y

CONFIG_NSS_DRV_QVPN_ENABLE=y
CONFIG_NSS_DRV_TLS_ENABLE=y
CONFIG_NSS_DRV_UDP_ST_ENABLE=y

### Languages
CONFIG_PACKAGE_node=y

### LuCI
CONFIG_PACKAGE_luci=n
CONFIG_PACKAGE_luci-light=n
CONFIG_PACKAGE_luci-nginx=y

## 翻译
CONFIG_LUCI_LANG_zh_Hans=y

### Applications
CONFIG_PACKAGE_luci-app-advancedplus=y
CONFIG_PACKAGE_luci-app-aliddns=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-nginx-manager=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-openvpn=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-wechatpush=y
CONFIG_PACKAGE_WECHATPUSH_Enable_Local_Disk_Information_Detection=y
CONFIG_PACKAGE_WECHATPUSH_Enable_Host_Information_Detection=y
CONFIG_PACKAGE_luci-app-wolplus=y

### Themes
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=n

### Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y

### Network
CONFIG_PACKAGE_openvpn-openssl=y
CONFIG_OPENVPN_openssl_ENABLE_LZO=y
CONFIG_OPENVPN_openssl_ENABLE_LZ4=y
CONFIG_OPENVPN_openssl_ENABLE_X509_ALT_USERNAME=y
CONFIG_OPENVPN_openssl_ENABLE_MANAGEMENT=y
CONFIG_OPENVPN_openssl_ENABLE_FRAGMENT=y
CONFIG_OPENVPN_openssl_ENABLE_PORT_SHARE=y
CONFIG_OPENVPN_openssl_ENABLE_IPROUTE2=y
CONFIG_OPENVPN_openssl_ENABLE_SMALL=y